html, body, #root, #root > div {
  // scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    box-sizing: border-box;

  }


#app {
  // display: grid;
  // grid-template-rows: 1fr 150px;
}

.box {
  z-index: 5;
  position: relative;
}

  .view {
      background: gray;
      overflow: hidden;
      overflow-x: scroll;
      position: relative;
      
  }

  .List {
    border: 1px solid #d9dddd;
    touch-action: none;
  }
  
  .ListItemEven,
  .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ListItemEven {
    background-color: #f8f8f0;
  }

  .aside {
    
    position: absolute;
    left: 15px;
    bottom: 35px;
    right: 15px;
    background: red;
    opacity: 10%;
    height: 20%;
    z-index: 0;
  }